.table-view{
    -fx-background-color: #ececf1;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: rgb(208, 184, 208);
}

.table-view .column-header-background .label{
    -fx-background-color: rgba(119, 54, 54, 0);
    -fx-text-fill: rgb(26, 26, 33);
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: rgb(26, 26, 33);
}

.table-row-cell:even{
    -fx-background-color: rgb(190, 181, 116);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: rgb(240, 240, 243);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: rgba(180, 86, 86, 0.27);
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}